html,body {
    margin: 0;
    padding: 0;
}

.selector{
	margin: 5px 0;
}

.selector-item{
	margin: 5px;
	background: #12b1ff;
	padding: 5px 15px;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.selector-active,.selector-item:hover{
	color: red;
	background: #9adeff;
}

table {
    text-align: center;
}

table tr:nth-child(even) {
    background: #73B1E0;
    color: #FFF;
}

table tr:hover:nth-child(odd) {
    background: #ccc;
}

table tr:hover:nth-child(even){
    background: #608cad;
}

.symbol {
    cursor: pointer;
}

.symbol:hover {
    color: red;
}

#mask{
	background: #fff;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	font-size: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 300px;
    font-weight: bold;
    color: blue;
    user-select:none;
}

#mask span{
	animation: rotate 3s linear infinite,setColor 10s linear infinite;
}

@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}

@-webkit-keyframes setColor {
	0% { color: #e74c3c; }
	20% { color: #f1c40f; }
	40% { color: #1abc9c; }
	60% { color: #3498db; }
	80% { color: #9b59b6; }
	100% { color: #e74c3c; }
}